
<div class="card mdl-card mdl-shadow--2dp <%= @class %>">
  <%= if @title do %>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text <%= @title_class %>">
        <%= @title %>
      </h2>
    </div>
  <% end %>
  <%= @children %>
</div>

