
  <div class="holiday-list">
    <%= for holiday <- @holidays do %>
      <div class="holiday-list__row">
        <div class="holiday-list__col">
          <%= holiday.description %>
        </div>
        <div class="holiday-list__col">
          <%= holiday.date %>
        </div>
      </div>
    <% end %>
  </div>