
  <div class="mdl-layout__drawer">
    <div class="nav-logo-wrapper">
      <div class="nav-logo" style="background-image: url('<%= @logo %>');"></div>
    </div>
    <nav class="mdl-navigation">
      <%= @children %>
    </nav>
  </div>
