
  <a class="user-bubble" href="<%= @url %>">
  <%= if @clickable do %>
    <a class="user-bubble" href="<%= @url %>">
  <% else %>
    <a class="user-bubble">
  <% end %>
      <div class="user-bubble__image-wrapper">
        <div class="user-bubble__image" style="background-image: url('<%= @profile_picture %>');">
        </div>
      </div>
      <div class="user-bubble__name"><%= @name %></div>
    </a>
