
  <a class="user-bubble" href="<%= @url %>">
    <div class="user-bubble__image-wrapper">
      <div class="user-bubble__image" style="background-image: url('<%= @profile_picture %>');">
      </div>
    </div>
    <div class="user-bubble__name"><%= @name %></div>
  </a>