
  <%= render "form.html", title: Enum.join([ @changeset.data.name, @changeset.data.family_name ], " "),
                          changeset: @changeset,
                          action: volunteer_path(@conn, :update, @volunteer),
                          conn: @conn
  %>
