
  <%= render "form.html", title: "New class",
                          changeset: @changeset,
                          action: class_path(@conn, :create),
                          conn: @conn
  %>
