<h1>Here's your activity summary:</h1>
<ul>
  <%= for notification <- @notifications do %>
    <li><%= render @view_module, @params[notification.type].template, assigns |> Map.put(:path, notification.resource_path) %></li>
  <% end %>
</ul>
