
  <%= render "form.html", title: CoursePlannerWeb.SharedView.display_user_name(@changeset.data),
                          changeset: @changeset,
                          action: supervisor_path(@conn, :update, @supervisor),
                          conn: @conn
  %>
