
  <%= render "form.html", title: "New supervisor",
                          changeset: @changeset,
                          action: supervisor_path(@conn, :create),
                          conn: @conn
  %>
