
  <%= render "form.html", title: CoursePlannerWeb.SharedView.display_user_name(@changeset.data),
                          changeset: @changeset,
                          action: teacher_path(@conn, :update, @teacher),
                          conn: @conn
  %>
