
  <%= render "form.html", title: Enum.join([ @changeset.data.name, @changeset.data.family_name ], " "),
                          changeset: @changeset,
                          action: student_path(@conn, :update, @student),
                          conn: @conn
  %>
