
  <%= render "form.html", title: CoursePlanner.SharedView.display_user_name(@changeset.data),
                          changeset: @changeset,
                          action: student_path(@conn, :update, @student),
                          conn: @conn
  %>
