
  <%= render "form.html", title: "New student",
                          changeset: @changeset,
                          action: student_path(@conn, :create),
                          conn: @conn
  %>
