<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello CoursePlanner!</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Course Planner</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
          <%= CoursePlanner.Coherence.ViewHelpers.signout_link(@conn, "Sign out", "mdl-navigation__link") %>
        </nav>
      </div>
    </header>

    <%= CoursePlanner.SharedView.navbar "Course Planner" do %>
      <%= CoursePlanner.SharedView.navbar_item "Dashboard", @conn, dashboard_path(@conn, :show) %>
      <%= CoursePlanner.SharedView.navbar_separator %>
      <%= CoursePlanner.SharedView.navbar_item "Coordinators", @conn, coordinator_path(@conn, :index) %>
      <%= CoursePlanner.SharedView.navbar_item "Students", @conn, student_path(@conn, :index) %>
      <%= CoursePlanner.SharedView.navbar_item "Teachers", @conn, teacher_path(@conn, :index) %>
      <%= CoursePlanner.SharedView.navbar_item "Volunteers", @conn, volunteer_path(@conn, :index) %>
      <%= CoursePlanner.SharedView.navbar_item "All users", @conn, user_path(@conn, :index) %>
      <%= CoursePlanner.SharedView.navbar_separator %>
      <%= CoursePlanner.SharedView.navbar_item "Courses", @conn, course_path(@conn, :index) %>
      <%= CoursePlanner.SharedView.navbar_item "Terms", @conn, term_path(@conn, :index) %>
      <%= CoursePlanner.SharedView.navbar_separator %>
      <%= CoursePlanner.SharedView.navbar_item "Offered Courses", @conn, offered_course_path(@conn, :index) %>
      <%= CoursePlanner.SharedView.navbar_item "Classes", @conn, class_path(@conn, :index) %>
      <%= CoursePlanner.SharedView.navbar_item "Tasks", @conn, task_path(@conn, :index) %>
    <% end %>

    <main class="mdl-layout__content">
      <div class="page-content">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <div class="container">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>
    </main>
  </div>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
