<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello CoursePlanner!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav class="navbar navbar-default">
          <ul class="nav navbar-nav">
            <li>
              <%= link "Home", to: page_path(@conn, :index)%>
            </li>
            <li>
              <%= link "Users", to: user_path(@conn, :index)%>
            </li>

            <li>
              <%= link "Coordinators", to: coordinator_path(@conn, :index)%>
            </li>
            <li>
              <%= link "Students", to: student_path(@conn, :index)%>
            </li>
            <li>
              <%= link "Teachers", to: teacher_path(@conn, :index)%>
            </li>
            <li>
              <%= link "Volunteers", to: volunteer_path(@conn, :index)%>
            </li>

            <li>
              <%= link "Courses", to: course_path(@conn, :index)%>
            </li>
            <li>
              <%= link "Terms", to: term_path(@conn, :index)%>
            </li>
            <li>
              <%= link "Offered Courses By Term", to: offered_course_path(@conn, :index)%>
            </li>
            <li>
              <%= link "Classes", to: class_path(@conn, :index)%>
            </li>
            <li>
              <%= link "Tasks", to: task_path(@conn, :index)%>
            </li>
          </ul>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
