
  <%= render "form.html", title: @changeset.data.name,
                          changeset: @changeset,
                          action: event_path(@conn, :update, @event),
                          conn: @conn
  %>
