<div>
  <h2>dear <%= @teacher_names%>,</h2>
  <h2>The attendance is not completely filled for <%= @offered_course_name%> course.</h2>
  <h3>use the following link to update the attendances <%= link "here: ", to: @path%></h3>
</div>
