<h1>Here's your activity summary:</h1>
<ul>
  <%= for notification <- @notifications do %>
    <% template = @params[notification.type].template %>
    <% attributes = %{path: notification.resource_path, data: notification.data} %>
    <li><%= render @view_module, template, Map.merge(assigns, attributes) %></li>
  <% end %>
</ul>
