
  <div class="row">
    <div class="col-xs-12">
      <div class="page">
        <%= CoursePlanner.SharedView.card do %>
          <%= CoursePlanner.SharedView.card_content vpadding: true do %>
            <div class="calendar__wrapper">
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
