
  <%= render "form.html", title: "New course",
                          changeset: @changeset,
                          action: offered_course_path(@conn, :create),
                          conn: @conn
  %>
