
  .bubble-clickable {
    transition: box-shadow 300ms ease,
                background-color 300ms ease;

    background-color: transparent;
    box-shadow: none;

    &:hover {
      background-color: white;
      @extend .mdl-shadow--2dp;
    }

  }
