
  @mixin list-mixin() {
    display: flex;
    flex-direction: column;

    background-color: white;
    @extend .mdl-shadow--2dp;

    &__row {
      display: flex;
      flex-direction: row;
    }

    &__row + &__row {
      border-top: 1px solid rgba(0,0,0,0.1);
    }

    &__col {
      flex: 1;
      padding: 16px;
    }
  }