
  <%= render "form.html", title: "New teacher",
                          changeset: @changeset,
                          action: teacher_path(@conn, :create),
                          conn: @conn
  %>
