
  @import "./variables.scss";


  /*
      VENDOR
  */

  @import "./material.scss";
  @import "./grid.scss";

  /*
      APPLICATION
  */

  @import "./form.scss";
  @import "./card.scss";
  @import "./modal.scss";
  @import "./user-bubble.scss";
  @import "./user-list.scss";
  @import "./attendance.scss";
  @import "./calendar.scss";

  @import "./list-mixin.scss";
  @import "./class-list.scss";
  @import "./course-list.scss";
  @import "./task-list.scss";
  @import "./holiday-list.scss";

  @import "./page.scss";
  @import "./layout.scss";
  @import "./pages/login.scss";

  .nav-logo {
    margin: 20px 40px;
  }

  .nav-separator {
    border-bottom: 1px solid rgba(0,0,0,0.15);
  }

  .mdl-data-table {
    width: 100%;
  }

  .mdl-button--icon {
    width: auto;
  }

  .mdl-menu__item {
    position: relative;

    a {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      padding-left: 8px;
      padding-right: 8px;

      color: inherit;
      text-decoration: none;
    }
  }

  .profile-picture {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .detail {
    &__name {
      display: inline-block;
      font-weight: bold;
    }

    &__value {
      display: inline-block;
      margin-left: 8px;
    }

    & + & {
      margin-top: 16px;
    }
  }
