
  @import "./variables.scss";


  /*
      VENDOR
  */

  @import "./material.scss";
  @import "./grid.scss";

  /*
      APPLICATION
  */

  @import "./form.scss";
  @import "./card.scss";
  @import "./modal.scss";

  @import "./layout.scss";
  @import "./pages/login.scss";

  .nav-logo {
    margin: 20px 40px;
  }

  .mdl-layout__content {
    z-index: 5;
  }

  .mdl-data-table {
    width: 100%;
  }

  .mdl-button--icon {
    width: auto;
  }

  .mdl-menu__item {
    position: relative;

    a {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      padding-left: 8px;
      padding-right: 8px;

      color: inherit;
      text-decoration: none;
    }
  }
