
  .mdl-textfield, .mdl-button {
    width: 100%;
  }

  .mdl-button {
    padding: 0;
  }

  .mdl-textfield__label {
    overflow: visible;
  }

  .form-select {
    position: relative;

    &__select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-overflow: '';

      @-moz-document url-prefix() {
        text-indent: -2px;
      }

      &:focus {
        outline: 0;

        &:-moz-focusring {
          color: transparent;
          text-shadow: 0 0 0 #000;
        }
      }

      &--text-center {
        text-align: center;
        text-align-last: center;
      }
    }

    &__icon {
      position: absolute;
      top: calc( 50% - 10px );
      right: 5px;
      pointer-events: none;
    }


    &--hyphen-after {
      &:after {
        content: "-";
        position: absolute;
        top: 25px;
        left: calc( 100% + 5px );
      }
    }

    &--colon-after {
      &:after {
        content: ":";
        position: absolute;
        top: 25px;
        left: calc( 100% + 5px );
      }
    }

  }

  .form-multiselect {

    &__add-button {
      margin-left: -5px;
      margin-top: 20px;

      i { pointer-events: none; }
    }

    &__select {
      display: none;
    }

    &__tags {
      margin-bottom: 20px;
    }

    &__delete i {
      pointer-events: none;
    }
  }

  .form-error {
    @extend .mdl-textfield__error;
    font-size: 14px;
  }
