
  .mdl-layout {
    background-color: $grey-50;
  }

  .layout-backlink {
    margin-right: 8px;
  }

  .profile-bubble {
    &__image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }