
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;

    display: none;

    background-color: rgba(0,0,0,0.3);

    &__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--visible {
      display: block;
    }

  }