
  .task-list {
    display: flex;
    flex-direction: column;

    background-color: white;
    @extend .mdl-shadow--2dp;

    &__task {
      display: flex;
      flex-direction: row;
    }

    &__task + &__task {
      border-top: 1px solid rgba(0,0,0,0.1);
    }

    &__item {
      flex: 1;
      padding: 16px;
    }
  }