<h2>Edit offered course</h2>

<%= render "form.html", changeset: @changeset,
                        action: offered_course_path(@conn, :update, @offered_course) %>

<%= link "Back", to: offered_course_path(@conn, :index) %>
