
  <%= render "form.html", title: @changeset.data.name,
                          changeset: @changeset,
                          action: course_path(@conn, :update, @course),
                          conn: @conn
  %>
