
  <%= render "form.html", title: "Edit class",
                          changeset: @changeset,
                          action: class_path(@conn, :update, @class),
                          conn: @conn
  %>
