#! /bin/bash

if [ ! -d "/myapp-dev/deps" ]; then
  >&2 echo "creating symbolic link to the container original 'deps'"
  ln -s /myapp/deps /myapp-dev/.
fi
if [ ! -d "/myapp-dev/_build" ]; then
  >&2 echo "creating symbolic link to the container original '_build'"
  ln -s /myapp/_build /myapp-dev/.
fi
if [ ! -d "/myapp-dev/node_modules" ]; then
  >&2 echo "creating symbolic link to the container original 'node_modules'"
  ln -s /myapp/node_modules /myapp-dev/.
fi

until pg_isready -h "db"; do
  >&2 echo "Postgres is unavailable - sleeping"
  sleep 1
done
>&2 echo "Postgres is up - executing command"

mix ecto.setup
mix phoenix.server
