#! /bin/bash

until pg_isready -h "db"; do
  >&2 echo "Postgres is unavailable - sleeping"
  sleep 1
done
>&2 echo "Postgres is up - executing command"

mix deps.get
npm install
mix ecto.setup
mix phoenix.server
