
  <%= render "form.html", title: @changeset.data.name,
                          changeset: @changeset,
                          action: term_path(@conn, :update, @term),
                          conn: @conn
  %>
