
  <%= render "form.html", title: "New coordinator",
                          changeset: @changeset,
                          action: coordinator_path(@conn, :create),
                          conn: @conn
  %>
