
  <div class="class-list">
    <%= for class <- @classes do %>
      <div class="class-list__class">
        <div class="class-list__item">
          <%= class.classroom %>
        </div>
        <div class="class-list__item">
          <%= class.date %>
        </div>
        <%= if @show_attendances do %>
          <div class="class-list__item">
            <%= class.attendance_type %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>