
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label <%= @wrapper_class %>">
    <%= textarea @form, @field, class: "mdl-textfield__input #{@class}",
                                required: @required,
                                rows: @rows
    %>
    <span class="mdl-textfield__label"><%= @label %></span>
    <%= if @form.errors[@field] do %>
      <span class="mdl-textfield__error">
        <%= error_tag @form, @field %>
      </span>
    <% end %>
  </div>