
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label <%= @wrapper_class %>">
    <%= password_input @form, @field, class: "mdl-textfield__input #{@class}",
                                      required: @required
    %>
    <span class="mdl-textfield__label"><%= @label %></span>
  </div>