
  <%= render "form.html", title: "New volunteer",
                          changeset: @changeset,
                          action: volunteer_path(@conn, :create),
                          conn: @conn
  %>
